<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name" required>
    <br/>
    <label for="lastName">Enter last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName" required>
    <br/>
    <label for="age">Enter age:</label>
    <input type="text" th:field="*{age}" pattern="\s*1?\d{1,2}\s*" id="age" placeholder="correct format is 3 digits" required>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>