<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
<div>
    <th:block th:each="user : ${users}">
        <h1>
            <a th:href = "@{/users/{id}(id=${user.getId()})}"
            th:text="#{user.info(${user.getName()},${user.getLastName()})}">
            Name: Vasya, last name: Ivanov
            </a>
        </h1>
    </th:block>
</div>
<br/>
<hr/>
<form th:action="@{/users/new}">
    <input type="submit"  value="Create new person">
</form>
</body>
</html>