<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Hello user</title>
</head>
<body>
<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Last name</td>
        <td>Age</td>
        <td>Email</td>
        <td>Password</td>
        <td>Roles</td>
    </tr>
    <tr>
        <td th:text="${user.getId()}">Id</td>
        <td th:text="${user.getUsername()}">Maxim</td>
        <td th:text="${user.getLastName()}">Markov</td>
        <td th:text="${user.getAge()}">14</td>
        <td th:text="${user.getEmail()}">test@gmail.com</td>
        <td th:text="${user.getPassword()}">pass123</td>
        <td th:each="role,iter : ${user.getRoles()}" th:text="${role.role}+(${!iter.last} ? ', ' : '')">ROLE_USER, ROLE_ADMIN</td>
    </tr>
</table>
</body>
</html>